<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingchen.system.mapper.SysPointsLogMapper">
    
    <resultMap type="SysPointsLog" id="SysPointsLogResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="operateType"    column="operate_type"    />
        <result property="sourceType"    column="source_type"    />
        <result property="points"    column="points"    />
        <result property="referenceId"    column="reference_id"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectSysPointsLogVo">
        select id, user_id, operate_type, source_type, points, reference_id, remark, create_time from sys_points_log
    </sql>

    <select id="selectSysPointsLogList" parameterType="SysPointsLog" resultMap="SysPointsLogResult">
        <include refid="selectSysPointsLogVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="operateType != null "> and operate_type = #{operateType}</if>
            <if test="sourceType != null "> and source_type = #{sourceType}</if>
            <if test="points != null "> and points = #{points}</if>
            <if test="referenceId != null "> and reference_id = #{referenceId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginCreateTime},'%y%m%d')
            </if>
            <if test="params.endCreateTime != null and params.endCreateTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endCreateTime},'%y%m%d')
            </if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectSysPointsLogById" parameterType="Long" resultMap="SysPointsLogResult">
        <include refid="selectSysPointsLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysPointsLog" parameterType="SysPointsLog" useGeneratedKeys="true" keyProperty="id">
        insert into sys_points_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="operateType != null">operate_type,</if>
            <if test="sourceType != null">source_type,</if>
            <if test="points != null">points,</if>
            <if test="referenceId != null">reference_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="operateType != null">#{operateType},</if>
            <if test="sourceType != null">#{sourceType},</if>
            <if test="points != null">#{points},</if>
            <if test="referenceId != null">#{referenceId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSysPointsLog" parameterType="SysPointsLog">
        update sys_points_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="operateType != null">operate_type = #{operateType},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
            <if test="points != null">points = #{points},</if>
            <if test="referenceId != null">reference_id = #{referenceId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysPointsLogById" parameterType="Long">
        delete from sys_points_log where id = #{id}
    </delete>

    <delete id="deleteSysPointsLogByIds" parameterType="String">
        delete from sys_points_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
